/* @font-face {
  font-family: 'Futura LT Condensed Light';
  font-style: normal;
  font-weight: normal;
  src: local('Futura LT Condensed Light'), url('fonts/FuturaLT-CondensedLight.woff') format('woff');
  } */
  
@font-face{

  font-family: 'SourceSansPro-Light';
  font-style: normal;
  font-weight: normal;
  src: local('SourceSansPro-Light'), url('../fonts/SourceSansPro-Light.otf') format('opentype');
}
@font-face{

  font-family: 'SourceSansPro-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('SourceSansPro-Regular'), url('../fonts/SourceSansPro-Regular.otf') format('opentype');
}

a{

  color: white!important;
}
body {
  color: #fff;
  font-family: 'SourceSansPro-Regular'; 
 }

 hr {

  margin-left:0;
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #00305b;/* old IE */
  background-color:#00305b;/* Modern Browsers */
  width: 60%;
}



/* Collapsed Side Navbar CSS */

  .sidenav {
  position: fixed; 
  top: 0;  
  right: 0;
  width: 0px;
  display: none;
  z-index: 999;
  background:#000;
  transition: .5s;
  padding-top: 100px;
  color:white;
  -webkit-box-orient: vertical!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;
  overflow: hidden;
}


.navbar {
  padding: 0px 100px;
  height: 50px;

 }

/* Spacing Classes */

.spacing{

  padding-top: 120px;
  padding-bottom : 40px; 
}

.less-spacing{
  padding-top: 45px;
  padding-bottom:40px;
}

/* Home Section */

#textwrapper{

  padding: 0 20px;
}


#home-section {
  background: url("../img/Home_Img.PNG") no-repeat;
  min-height: 1000px;
  background-size: cover;
  background-attachment: fixed; 
  background-position: center center;
  font-size: 55px;
  padding-top: 150px;
}

#hero-text{
  
      padding-left: 35px;
    }

    /* Huga Image */


#hugaimg{
  color: #fff;
  padding: 4px;
  border-radius: 5px;
  width: 100%;
  height: auto; 
  }


/* Huga Description */

.lead{

  padding-bottom: 40px;
  font-size: 18px;
  width: 90%;
}


.container.custom-container {
  padding: 0 100px;
}


#huga-description{

    background: #f0cccc;
    background-size: cover;
    background-attachment: fixed; 
    color: #00305b;

  }
  
.light{

    font-family:'SourceSansPro-Light';
  }
#quote{

    font-size: 40px;
    line-height: 1.3;
}

  /* Testimonials */

  #testimonials{

    background: #f0cccc;
    margin: 0;
    color: black;
    height: 100%;
  }

  .testimonial-item{

    padding: 100px;
    
  }


  .testimonial-message{
  padding-top: 40px;
  }

  #testimonial-nametag
  {
     font-size: 14px;
  }

  

/* Floating footer */

  #floating-footer
  {
      background: white;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      height: 70px;  
      font-size: 20px; 
      color: #000;
      float: left;
      display:flex;
    justify-content:space-between;
  }

  #phone{

    color: green;
    margin-left: 8px;
  
  }

  #envelope{
    color: #BE1867;
    margin-left: 5px; 
  }

  #instagram{
    color: red;
    margin-left: 20px;
  }

  .my-text {
    display: block;
    font-size: 12px;
    padding-top: 5px;
  }

  #flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    margin: 0 auto; 
    padding-top: 5px;
}
.flex-item {

  width: 80%;
  margin-left: 30px;
}

.s-link{
  padding: 10px 30px;
}


/*More Case Studies Section*/


#case-head{

  background-color: #fbef39;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px; 
}


#more-casestudies
{
  padding: 50px 0px;
  color: black;
}

#category{

  font-size: 14px;
}

.card-text{

  font-size: 30px;
  color: black!important;

}

.card{
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  border-bottom: 3px solid black;
  border-radius: 0%;
}


  @media screen and (max-width: 1024px) {
    
    #home-section {

      font-size: 35px;
      min-height: 300px;
      padding-bottom: 20px;
    }
    
  }

  @media screen and (min-width:950px){


    #social-links{

      background-color: #000; 
    }


  }

    @media screen and (max-width: 950px) {
     
      .spacing{

        padding-top: 30px;
        padding-bottom : 10px; 
      }
      
      .less-spacing{
        padding-top: 10px;
        padding-bottom:10px;
      }

      .container.custom-container {
        padding: 0 15px;
      }

      .lead{
        padding-bottom:10px;
      }

      hr{
        width: 100%;
      }

      .navbar{

        padding: 10px;
      }

      #hero-text{

        padding-top: 0px;
        padding-left: 0px;
        font-size: 30px;
        padding-bottom: 20px;
        margin-top: -50px;
      } 

      #more-casestudies
      {
        padding-top: 50px;
        color: black;
      }

      .card{

        padding-bottom: 20px;
        margin: 30px 30px;
      }

      .color{
        color: black !important;
      }

      button.navbar-toggler:focus { outline: 1px none; }

    }
    
    @media screen and (max-width: 650px) {

      li{

        text-align: right;
        padding-top: 20px;
        padding-right: 20px;
        font-size: 18px;
      }
  
     a{

        color: white;
      }     

      .testimonial-message{
        padding-top: 30px;
        }

        .testimonial-item{

          padding: 50px;
          height: 650px;
        }

        .s-link{
          padding: 25px 20px;
        }

        
    }
    
  @media screen and (max-width: 480px) {
    
   h1{

    font-size: 30px;
   }
   h2{

    font-size: 28px !important;
   }
   .lead{

    width: 100%;
   }

   #main-description{

    font-size: 19px;

   }
  
  #huga-description{

    padding: 0 15px;

  }
  #head{

    font-size: 25px;

  }
s
  #nametag{

    font-size: 14px;
  }

  #social-links{

    background-color: #5f5e5e;
    padding-bottom: 70px;

  }

}
    
#main-footer{

  background-color: #000;
}

@media screen and (max-width: 400px)
{
  .card{

    padding-bottom: 20px;
    margin: 20px 10px;
  }

}

@media screen and (max-width: 350px)
{
  .card{

    padding-bottom: 20px;
    margin: 20px 0px;
    width: 18rem!important;
  }

}


  
